h1{
    color:blue
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: dodgerblue;
}
.container div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 24 px;
}

.containerGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
}
.containerGrid div{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
