body{
    background-color: black;
    align-items: center;
}
.grid-container1{
    align-items: center;
    display: grid;
    width: 99vmax;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    border-radius: 8px;
    height: 100vmax;
}
.ele1{
    grid-column: 1/2;
}
.ele2{
    
    grid-column: 2/2;
    grid-row: 1/3;
}
.ele3{
    grid-column: 1/1;
    grid-row: 2/2;
}
.ele4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-container1__img1{
    width: 40vmax;
    height: 30vmax;
    border-radius: 8px;
}
.grid-container1__img2{
    width: 95%;
    height: 100%;
    border-radius: 8px;
}
.grid-container1__img3{
    width: 40vmax;
    height: 30vmax;
    border-radius: 8px;
}
.grid-container1__img4{
    width: 95vmax;
    border-radius: 8px;
}
.grid-container1>div{
    padding: 1vw;
    background-color: transparent;
}